@font-face {
  font-family: NanumSquareNeo;
  src: url('./fonts/NanumSquareNeo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: NanumSquareNeo;
  src: url('./fonts/NanumSquareNeo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
