ocr.dfragon.com {
    @modelUpload {
        method POST
        path /api/models /api/desktop/models
    }
    handle @modelUpload {
        request_body {
            max_size 134283264
        }
        reverse_proxy 127.0.0.1:3100
    }
    handle {
        request_body {
            max_size 24MB
        }
        reverse_proxy 127.0.0.1:3100
    }
}
